.navigation {
    background-color: #404040;
    box-shadow: 5px 0px 5px grey;
    height: 5em;
    width: 100vw;
}
  
.logo {
    width: 5em;
    height: auto;
}

.content {
    padding-left: 3vw;
    padding-top: 10px;
    width: 100vw;
    height: calc(100vh - 10em);
    overflow-y: scroll;
    overflow-x: hidden;
}

.source-list {
    height: 5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    background-color: seashell;
}

.source-item {
    border: 1px solid black;
    border-radius: 360px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightskyblue;
}

@media screen and (min-width: 768px) {
    .navigation {
        height: 100vh;
        width: 100px;
        float: left;
    }
    .content {
        width: calc(100vw - 100px);
        height: calc(100vh - 5em);
    }
}