.navigation {
    background-color: #404040;
    box-shadow: 5px 0px 5px grey;
    height: 5em;
    width: 100vw;
}

.page {
    width: 100vw;
    height: 100vh;
}

.logo {
    width: 5em;
    height: auto;
}

.content {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (min-width: 768px) {
    .navigation {
        height: 100vh;
        width: 100px;
        float: left;
    }
    .content {
        width: calc(100vw - 100px);
    }
}